@font-face {
   font-family: 'alien_encounters_solidregular';
   src: url('../font/alien-encounters-solid-regular-webfont.woff2')
         format('woff2'),
      url('../font/alien-encounters-solid-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   color: white;
   font-family: 'alien_encounters_solidregular';
   background: url('./images/bg.png') no-repeat;
   background-size: cover;
   letter-spacing: 1px;
   width: 100vw;
   height: 100vh;
}

.box {
   background: rgba(46, 67, 99, 0.6);
   margin-top: 200px;
   margin-left: 50px;
   padding: 25px;
   width: 360px;
}

.inline-holder {
   display: flex;
}

.drive-ascii {
   font-size: 10px;
   color: rgba(233, 176, 255, 0.6);
}
